.btnStandard {
font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  border: white solid 1px;
  border-radius: 24px;
  padding: 8px 16px;
  margin: 0px 4px 4px;
  color: white;
  background-color: transparent;
  box-shadow: 4px 4px white;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px white;
    transform: translate(4px, 4px);
    background-color: #f87a55;
    cursor: pointer;
  }
}
