<section class="menue-mobile" [class.open]="isOpen">
  <section class="headline">
    <div class="logoContainer">
      <a href="#">
        <img class="headerLogo" src="./assets/imgs/layout/lk-logo-yellow.png" alt=""></a>
    </div>
<button class="mobileNavigation" (click)="closeMenu()"></button>
  </section>
  <nav class="menue">
    <div class="linkBox">
      <a href="#aboutMe">About me</a>
    </div>
    <div class="linkBox">
      <a href="#skills">Skills</a>
    </div>
    <div class="linkBox">
      <a href="#projects">Projects</a>
    </div>
    <div class="linkBox">
      <a href="#contact">Contact</a>
    </div>
    <div class="toggleSwitch">
      <p>EN</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <p>DE</p>
    </div>
  </nav>
  <app-social-links></app-social-links>
</section>
