.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.aboutMeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 80px 64px;
}

.contentBoxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  img {
    width: 100%;
  }

  .aboutIcon {
    width: 40px;
  }
}

.contentBoxRight {
  width: 50%;
}

.aboutLocation,
.aboutWork,
.aboutRemote {
  position: relative;
  width: 80%;
  color: var(--color-primary);

  img {
    width: 100%;
  }
}

.aboutLocation {
  margin-bottom: -8%;
  z-index: 3;
  rotate: -4deg;

  .aboutDesc {
    rotate: -1deg;
  }
}

.aboutWork {
  z-index: 2;
}

.aboutRemote {
  margin-top: -5%;
  rotate: 4deg;

  .aboutDesc {
    rotate: 3deg;
  }
}

.aboutDesc,
.aboutDescHigher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  text-align: center;
  color: var(--color-primary);
}

.aboutDesc {
  top: 50%;
}

.aboutDescHigher {
  top: 45%;
}

.animationContainerWidth {
  animation: showHideFromLeft 6s ease infinite;
  opacity: 1;
  transition: opacity 0.2s ease;
  overflow: hidden;
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@media (min-width: 2100px) {
  .content {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 768px) {
  .aboutMeContent {
    flex-direction: column-reverse;
    gap: 48px;
    padding: 32px 32px 64px;
  }

  .contentBoxLeft {
    width: 60%;

    p {
      font-size: 20px;
    }
  }

  .contentBoxRight {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutMeContent {
    padding: 32px 16px 48px;
  }

  .contentBoxLeft {
    width: 100%;
  }

  .aboutLocation,
  .aboutRemote,
  .aboutWork {
    width: 100%;
  }
}
