<section class="content" id="aboutMe">
  <section class="contentInner aboutMeContent">
    <section class="contentBoxLeft">
      <div class="aboutLocation">
        <img src="./assets/imgs/layout/about-me-1.png" alt="">
        <div class="aboutDescHigher">
          <img class="aboutIcon" src="./assets/icons/location-icon.svg" alt="">
          <p>Based in Hanover</p>
        </div>
      </div>

      <div class="aboutWork">
        <img src="./assets/imgs/layout/about-me-2.png" alt="">
        <div class="aboutDesc">
          <img class="aboutIcon" src="./assets/icons/relocate-icon.svg" alt="">
          <p>NOT open to relocate</p>
        </div>


      </div>
      <div class="aboutRemote">
        <img src="./assets/imgs/layout/about-me-3.png" alt="">
        <div class="aboutDesc">
          <img class="aboutIcon" src="./assets/icons/homeoffice-icon.svg" alt="">
          <p>Open to work remote</p>
        </div>
      </div>

    </section>
    <section class="contentBoxRight">
      <p class="f-size-20">WHO'S LEVIN?</p>
      <div class="headline">
        <h2>About Me</h2>
        <img class="headlineUnderline" src="./assets/imgs/decorations/blue-line.png" alt="">
      </div>
      <p class="f-size-20 mt-60 mb-60">Hey there, I'm Karl. Write some information about yourself that is IT related.
        Why are you
        passionate about coding? What
        is your source of inspiration for improving your programming skills? Do you learn from each challenge as you
        search for
        the most efficient or elegant solution?<br><br>

        Let’s collaborate and build something remarkable together!</p>
      <div class="flex-right">
        <button class="btnStandard"><span class="f-size-20"><a href="#contact">Let's talk</a></span></button>
      </div>

    </section>
  </section>


</section>
