.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.aboutMeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 80px 64px;
}

.contentBoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  img {
    width: 100%;
  }

  .aboutIcon {
    width: 40px;
  }
}

.contentBoxRight {
  width: 50%;
}

.aboutLocation {
  margin-bottom: -8%;
  z-index: 3;
  rotate: -4deg;
  width: 80%;
  color: var(--color-primary);

  .aboutDesc {
    rotate: -1deg;
  }
}

.aboutWork {
  z-index: 2;
}

.aboutRemote {
  position: relative;
  max-width: 80%;
  margin-top: -5%;
  rotate: 4deg;
  color: var(--color-primary);

  .aboutDesc {
    rotate: 3deg;
  }
}

.aboutDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  max-width: 80%;
  color: var(--color-primary);

  &Higher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    max-width: 80%;
  }
}

.headlineUnderline {
  position: absolute;
  bottom: -16px;
  animation: rollOut 5s infinite;
}

@keyframes rollOut {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    width: 50%;
    opacity: 1;

  }

  80% {
    width: 50%;

  }

  90% {
    width: 0;

  }

  100% {
    width: 0;
  }
}

.animationContainerWidth {
  animation: showHideFromLeft 6s ease infinite;
  opacity: 1;
  transition: opacity 0.2s ease;
  overflow: hidden;
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0%;
  }

  100% {
    width: 0%;
  }
}

@media (min-width: 2100px) {
  .content {
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
      width: 1%;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
      width: 1%;
    }
  }
}
