<section class="content" id="aboutMe">
  <section class="contentInner aboutMeContent">
    <section class="contentBoxLeft">
      <div class="aboutLocation">
        <img src="./assets/imgs/layout/about-me-1.png" alt="">
        <div class="aboutDescHigher">
          <img class="aboutIcon" src="./assets/icons/location-icon.svg" alt="">
          <p class="aboutText">{{ 'ABOUT.LOCATION' | translate }}</p>
        </div>
      </div>
      <div class="aboutWork">
        <img src="./assets/imgs/layout/about-me-2.png" alt="">
        <div class="aboutDesc">
          <img class="aboutIcon" src="./assets/icons/relocate-icon.svg" alt="">
          <p class="aboutText">{{ 'ABOUT.OPEN_FOR_EDUCATION' | translate }}</p>
        </div>
      </div>
      <div class="aboutRemote">
        <img src="./assets/imgs/layout/about-me-3.png" alt="">
        <div class="aboutDesc">
          <img class="aboutIcon" src="./assets/icons/homeoffice-icon.svg" alt="">
          <p class="aboutText">{{ 'ABOUT.OPEN_FOR_REMOTE' | translate }}</p>
        </div>
      </div>
    </section>
    <section class="contentBoxRight">
      <p class="f-size-20">{{ 'ABOUT.SECTION_LABEL' | translate }}</p>
      <div class="headline">
        <h2>{{ 'ABOUT.HEADLINE' | translate }}</h2>
        <div class="animationContainerWidth">
          <img class="animatedImageWidth" src="./assets/imgs/decorations/blue-line.png" alt="">
        </div>
      </div>
      <p class="f-size-20 mt-40 mb-60">
        {{ 'ABOUT.TEXT.INTRO' | translate }}<br><br>
        {{ 'ABOUT.TEXT.P1' | translate }}<br><br>
        {{ 'ABOUT.TEXT.P2' | translate }}<br><br>
        {{ 'ABOUT.TEXT.P3' | translate }}
      </p>
      <div class="flex-right">
        <button class="btnStandard">
          <span class="f-size-20">
            <a routerLink="/" fragment="contact">{{ 'ABOUT.CTA' | translate }}</a>
          </span>
        </button>
      </div>
    </section>
  </section>
</section>
