.content {
  min-height: 100dvh;
  background-color: #1d1d1d;
}

.projectContent {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  max-width: 1440px;
  min-height: 100dvh;
  background-image: url('/assets/imgs/bg/project-bg.png');
  background-size: cover;
  background-position: left;
}

.contentMain {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: calc(100% - 100px);
  padding: 32px 64px 64px 64px;
  width: 100%;
  max-width: 1440px;
}

.contentLeft {
  width: 45%;
}

.contentRight {
  width: 45%;
  color: var(--color-primary);

  .projectBreadcrumb {
    width: 100%;
  }

  .wip {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    z-index: 2;
  }
}

.animationContainerWidth {
  animation: showHideFromLeft 6s ease infinite;
  opacity: 1;
  transition: opacity 0.2s ease;
  overflow: hidden;

  .animatedImageWidth {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

.projectDesc {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.usedTechSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;

  .usedTech {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;

    img {
      width: 20px;
    }
  }
}

.linkBtns {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 32px;
}

.backLink {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 200px;
  font-weight: 700;
  transition: transform 0.2s ease;
  max-width: 1440px;
  padding: 48px 0 16px 32px;
  margin: 0 auto;

  &:hover img {
    transform: translateX(-8px);
    transition: transform 0.2s ease;
  }

  &.mobile {
    margin: 0;
  }
}

.nextLink {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  max-width: 200px;
  font-weight: 700;
  transition: transform 0.2s ease;

  &:hover img {
    transform: translateX(8px);
    transition: transform 0.2s ease;
  }
}

h2,
.blend,
p {
  mix-blend-mode: difference;
  color: var(--color-primary);
}

.mobile {
  display: none;
}

.siteNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 2100px) {
  .projectContent {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 1100px) {
  .btnStandardWhite {
    border: var(--color-secondary) solid 1px;
    box-shadow: 4px 4px var(--color-secondary);
    color: var(--color-secondary);
  }

  .content {
    background-image: url('/assets/imgs/bg/project-bg-1100-90deg.png');
    background-position: top;
  }

  .contentMain {
    flex-direction: column;
    gap: 64px;
  }

  .contentLeft,
  .contentRight {
    width: 100%;
  }

  .nextLink {
    margin: 0;
  }

  .backLink {
    padding: 0;
  }

  .mobile {
    display: flex;
  }

  .noMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .contentMain {
    padding: 32px;
  }

  .contentLeft,
  .contentRight {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .contentMain {
    padding: 32px 16px;
  }

  .contentLeft,
  .contentRight {
    padding: 0;
  }
}
