.content {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.contentTop,
.contentBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
}

.projectsContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  padding: 64px 64px 0px 64px;
}

.headline {
  min-width: 50%;
  max-width: 50%;
}

.headlineUnderline {
  position: absolute;
  bottom: -16px;
  animation: rollOut 5s infinite;
}

@keyframes rollOut {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    width: 50%;
    opacity: 1;

  }

  80% {
    width: 50%;

  }

  90% {
    width: 0;

  }

  100% {
    width: 0;
  }
}

.projectShowcase {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;

  .projectImgContainer {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    .projectImgOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
      opacity: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 36px;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover .projectImg {
      scale: 1.1;
    }

    &:hover .projectImgOverlay {
      opacity: 1;
    }

    &:hover .projectImgFloat {
      animation-play-state: paused;
      scale: 1.1;
    }
  }

  .projectImg {
    width: 100%;
    border-radius: 20px;
    scale: 1.0;
    transition: all 0.3s ease-in-out;

    &Join {
      opacity: 0;
    }
  }

}

.featuredSticker {
  position: absolute;
  bottom: 64px;
  left: 0px;
  width: 160px;
}

.projectImgFloat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  animation: floatAnimation 4s ease-in-out infinite;
  transition: 0.4s ease-in-out;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animationContainerWidth {
  animation: showHideFromLeft 6s ease infinite;
  opacity: 1;
  transition: opacity 0.2s ease;
  overflow: hidden;
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0%;
  }

  100% {
    width: 0%;
  }
}

@media (max-width: 768px) {

  .contentTop,
  .contentBottom {
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;

    .buttonContainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .headline,
  .projectShowcase {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }

  .projectsContent {
    padding: 48px 32px;
    gap: 80px;
  }

  .projectShowcase {
    gap: 16px;
  }

  .projectImgOverlay {
    display: none;
  }
}

@media (max-width: 480px) {

  .projectsContent {
    padding: 32px 16px 32px 16px;
  }

  .projectImgOverlay {
    padding: 20px;
  }

  .contentTop,
  .contentBottom {
    gap: 48px;
  }
}
