<section class="content" id="projects">
  <section class="contentInner projectsContent">
    <section class="contentTop">
      <div class="headline">
        <p class="f-size-20">{{ 'PROJECTS.SECTION_LABEL' | translate }}</p>
        <div>
          <h2>{{ 'PROJECTS.HEADLINE' | translate }}</h2>
          <div class="animationContainerWidth">
            <img class="animatedImageWidth" src="./assets/imgs/decorations/4-b.svg" alt="">
          </div>
        </div>
        <p class="f-size-20 mt-60 mb-60">{{ 'PROJECTS.INTRO' | translate }}</p>
      </div>
    </section>
    <section class="contentBottom">
      <div class="projectShowcase" id="join-project">
        <a routerLink="/join-project">
          <div class="projectImgContainer">
            <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgJoin">
            <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgFloat">
            <img src="./assets/imgs/layout/featured-sticker.png" alt="" class="featuredSticker">
            <img src="./assets/icons/updated-stomp.png" alt="" class="updated-stomp">
            <div class="projectImgOverlay">
              <button class="btnStandardWhite">
                <span class="f-size-20">
                  <a routerLink="/join-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
                </span>
              </button>
            </div>
          </div>
        </a>
        <p class="f-size-24 font-bold">{{ 'PROJECTS.JOIN.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.JOIN.DESCRIPTION' | translate }}</p>
        <section class="usedTechSection">
            <div class="usedTech">
              <img src="./assets/icons/1-html.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.HTML' | translate }}</p>
            </div>
            <div class="usedTech">
              <img src="./assets/icons/2-css.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.CSS' | translate }}</p>
            </div>
            <div class="usedTech">
              <img src="./assets/icons/5-angular.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.ANGULAR' | translate }}</p>
            </div>
            <div class="usedTech">
              <img src="./assets/icons/13-supabase.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.SUPABASE' | translate }}</p>
            </div>
            <div class="usedTech">
              <img src="./assets/icons/4-ts.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.TS' | translate }}</p>
            </div>
            <div class="usedTech">
              <img src="./assets/icons/15-bootstrap.png">
              <p>{{ 'PROJECTS_DETAIL.JOIN.TECH.BOOTSTRAP' | translate }}</p>
            </div>
        </section>
        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a routerLink="/join-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
      </div>
      <div class="projectShowcase" id="el-pollo-loco-project">
        <a routerLink="/el-pollo-loco-project">
          <div class="projectImgContainer">
            <img src="./assets/imgs/layout/el-pollo-loco-project-breadcrumb_950px.png" alt="" class="projectImg">
            <div class="projectImgOverlay">
              <button class="btnStandardWhite">
                <span class="f-size-20">
                  <a routerLink="/el-pollo-loco-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
                </span>
              </button>
            </div>
          </div>
        </a>
        <p class="f-size-24 font-bold">{{ 'PROJECTS.POLLO.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.POLLO.DESCRIPTION' | translate }}</p>
        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a routerLink="/el-pollo-loco-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
        <section class="usedTechSection">
          <div class="usedTech">
            <img src="./assets/icons/1-html.png">
            <p>{{ 'PROJECTS_DETAIL.POLLO.TECH.HTML' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/2-css.png">
            <p>{{ 'PROJECTS_DETAIL.POLLO.TECH.CSS' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/3-js.png">
            <p>{{ 'PROJECTS_DETAIL.POLLO.TECH.JS' | translate }}</p>
          </div>
        </section>
      </div>
    </section>
    <section class="contentBottom">
      <div class="projectShowcase" id="simple-crm-project">
        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/crm-breadcrumb.png" alt="" class="projectImg">
          <img src="./assets/icons/wip-stomp.png" alt="" class="wip">
          <div class="projectImgOverlay">
            <button class="btnStandardWhite">
              <span class="f-size-20">
                <a routerLink="/crm-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
              </span>
            </button>
          </div>
        </div>
        <p class="f-size-24 font-bold">{{ 'PROJECTS_DETAIL.CRM.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS_DETAIL.CRM.DESCRIPTION.TEXT' | translate }}</p>
        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a routerLink="/crm-project">{{ 'PROJECTS_DETAIL.CRM.BUTTONS.GITHUB' | translate }}</a>
            </span>
          </button>
        </div>
        <section class="usedTechSection">
          <div class="usedTech">
            <img src="./assets/icons/1-html.png">
            <p>{{ 'PROJECTS_DETAIL.CRM.TECH.HTML' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/2-css.png">
            <p>{{ 'PROJECTS_DETAIL.CRM.TECH.CSS' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/17-react.png">
            <p>{{ 'PROJECTS_DETAIL.CRM.TECH.REACT' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/13-supabase.png">
            <p>{{ 'PROJECTS_DETAIL.CRM.TECH.SUPABASE' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/4-ts.png">
            <p>{{ 'PROJECTS_DETAIL.CRM.TECH.TS' | translate }}</p>
          </div>

        </section>
      </div>
      <div class="projectShowcase" id="da-bubble-project">
        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/da-bubble-project-breadcrumb_950px.png" alt="" class="projectImg">
          <img src="./assets/icons/comming-soon-stomp.png" alt="" class="wip">
          <div class="projectImgOverlay">
            <button class="btnStandardWhite">
              <span class="f-size-20">
                <a routerLink="/dabubble-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
              </span>
            </button>
          </div>
        </div>
        <p class="f-size-24 font-bold">{{ 'PROJECTS.DABUBBLE.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.DABUBBLE.DESCRIPTION' | translate }}</p>
        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a routerLink="/dabubble-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
        <section class="usedTechSection">
          <div class="usedTech">
            <img src="./assets/icons/1-html.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.HTML' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/2-css.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.CSS' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/5-angular.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.ANGULAR' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/13-supabase.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.SUPABASE' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/4-ts.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.TS' | translate }}</p>
          </div>
          <div class="usedTech">
            <img src="./assets/icons/16-tailwind.png">
            <p>{{ 'PROJECTS_DETAIL.DABUBBLE.TECH.TAILWIND' | translate }}</p>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>
