<section class="content" id="projects">
  <section class="contentInner projectsContent">

    <section class="contentTop">
      <div class="headline">
        <p class="f-size-20">{{ 'PROJECTS.SECTION_LABEL' | translate }}</p>

        <div>
          <h2>{{ 'PROJECTS.HEADLINE' | translate }}</h2>
          <div class="animationContainerWidth">
            <img class="animatedImageWidth" src="./assets/imgs/decorations/4-b.svg" alt="">
          </div>
        </div>

        <p class="f-size-20 mt-60 mb-60">
          {{ 'PROJECTS.INTRO' | translate }}
        </p>
      </div>

      <!-- JOIN PROJECT -->
      <div class="projectShowcase" id="join-project">
        <a href="/join-project">
          <div class="projectImgContainer">
            <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgJoin">
            <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgFloat">
            <img src="./assets/imgs/layout/featured-sticker.png" alt="" class="featuredSticker">
            <img src="./assets/icons/wip-stomp.png" alt="" class="wip">

            <div class="projectImgOverlay">
              <button class="btnStandardWhite">
                <span class="f-size-20">
                  <a href="/join-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
                </span>
              </button>
            </div>
          </div>
        </a>

        <p class="f-size-24 font-bold">{{ 'PROJECTS.JOIN.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.JOIN.DESCRIPTION' | translate }}</p>

        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a href="/join-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
      </div>
    </section>

    <section class="contentBottom">

      <!-- EL POLLO LOCO -->
      <div class="projectShowcase" id="el-pollo-loco-project">
        <a href="/el-pollo-loco-project">
          <div class="projectImgContainer">
            <img src="./assets/imgs/layout/pollo-loco-project-img.jpg" alt="" class="projectImg">

            <div class="projectImgOverlay">
              <button class="btnStandardWhite">
                <span class="f-size-20">
                  <a href="/el-pollo-loco-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
                </span>
              </button>
            </div>
          </div>
        </a>

        <p class="f-size-24 font-bold">{{ 'PROJECTS.POLLO.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.POLLO.DESCRIPTION' | translate }}</p>

        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a href="/el-pollo-loco-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
      </div>

      <!-- DABUBBLE -->
      <div class="projectShowcase" id="da-bubble-project">
        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/da-bubble-project-img.jpg" alt="" class="projectImg">
          <img src="./assets/icons/wip-stomp.png" alt="" class="wip">

          <div class="projectImgOverlay">
            <button class="btnStandardWhite">
              <span class="f-size-20">
                <a href="/dabubble-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
              </span>
            </button>
          </div>
        </div>

        <p class="f-size-24 font-bold">{{ 'PROJECTS.DABUBBLE.TITLE' | translate }}</p>
        <p>{{ 'PROJECTS.DABUBBLE.DESCRIPTION' | translate }}</p>

        <div class="buttonContainer mobile">
          <button class="btnStandard">
            <span class="f-size-20">
              <a href="/dabubble-project">{{ 'PROJECTS.DETAILS_BUTTON' | translate }}</a>
            </span>
          </button>
        </div>
      </div>

    </section>
  </section>
</section>
