.content {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.contentTop,
.contentBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.projectsContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  padding: 4rem 4rem 0;
}

.headline {
  width: 100%;

  .animationContainerWidth {
    animation: showHideFromLeft 6s ease infinite;
    opacity: 1;
    transition: opacity 0.2s ease;
    overflow: hidden;
  }
}

.projectShowcase {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 48%;
}

.projectImgContainer {
  width: 100%;
  aspect-ratio: 560 / 338;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;

  .projectImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.25rem;
    scale: 1;
    transition: all 0.3s ease-in-out;
  }

  .projectImgJoin {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .projectImgFloat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: 0.4s ease-in-out;
  }

  .featuredSticker {
    position: absolute;
    bottom: 4rem;
    left: 0;
    width: 10rem;
  }

  .wip {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
  }

  .updated-stomp {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
  }

  .projectImgOverlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2.25rem;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    .projectImg {
      scale: 1.1;
    }

    .projectImgOverlay {
      opacity: 1;
    }

    .projectImgFloat {
      animation-play-state: paused;
      scale: 1.1;
    }
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.25rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  10% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

.mobile {
  display: none;
}

.usedTechSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid var(--color-high-st);
  border-radius: 1rem;
  padding: 0.5rem;
  min-height: 5rem;



  .usedTech {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;

    img {
      width: 1.25rem;
    }
  }
}

@media (min-width: 131.25rem) {
  .content {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 57rem) {
  .featuredSticker {
    max-width: 7rem;
  }
}

@media (max-width: 48rem) {

  .contentTop,
  .contentBottom {
    flex-direction: column;
    align-items: flex-end;
    gap: 5rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .headline,
  .projectShowcase {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .projectsContent {
    padding: 0px 2rem 3rem 2rem;
    gap: 5rem;
  }

  .projectShowcase {
    gap: 1rem;
  }

  .projectImgOverlay {
    display: none;

    &:hover {
      cursor: default;
    }
  }

  .mobile {
    display: block;
  }

  .featuredSticker {
    max-width: 10rem;
  }

}

@media (max-width: 30rem) {

  .content {
    margin-top: -4rem;
  }

  .projectImgOverlay {
    padding: 1rem !important;
  }

  .projectsContent {
    padding: 2rem 1rem;
  }

  .contentTop,
  .contentBottom {
    gap: 3rem;
  }

  .featuredSticker {
    max-width: 6rem;
    top: 0;
  }
}
