.content {
  display: flex;
  flex-direction: column;
  // gap: 32px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.contentTop,
.contentBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
}

.projectsContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  padding: 140px 64px 0px 64px;
}

.headline {
  width: 50%;
}

.headlineUnderline {
  position: absolute;
  bottom: -16px;
  animation: rollOut 5s infinite;
}

@keyframes rollOut {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    width: 50%;
    opacity: 1;

  }

  80% {
    width: 50%;

  }

  90% {
    width: 0;

  }

  100% {
    width: 0;
  }
}

.projectShowcase {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.projectImg {
  width: 100%;
  border-radius: 20px;
}
