<section class="content" id="projects">
  <section class="contentInner projectsContent">
    <section class="contentTop">
      <div class="headline">
        <p class="f-size-20">MY CRAFT</p>
        <div>
          <h2>Projects</h2>
          <div class="animationContainerWidth">
            <img class="animatedImageWidth" src="./assets/imgs/decorations/4-b.svg" alt="">
          </div>
        </div>
        <p class="f-size-20 mt-60 mb-60">Encourage people to take a look and interact with your projects.
          Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
      </div>
      <div class="projectShowcase">
        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgJoin">
          <img src="./assets/imgs/layout/laptop.png" alt="" class="projectImgFloat">
          <img src="./assets/imgs/layout/featured-sticker.png" alt="" class="featuredSticker">
          <div class="projectImgOverlay">
            <button class="btnStandardWhite"><span class="f-size-20"><a href="">Project details</a></span></button>
          </div>
        </div>
        <p class="f-size-24 font-bold">Join</p>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
          functions, assign users and
          categories.</p>
      </div>
    </section>
    <section class="contentBottom">
      <div class="projectShowcase">

        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/pollo-loco-project-img.jpg" alt="" class="projectImg">
          <div class="projectImgOverlay">
            <button class="btnStandardWhite"><span class="f-size-20"><a href="">Project details</a></span></button>
          </div>
        </div>

        <p class="f-size-24 font-bold">El pollo loco</p>
        <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
          fight against
          the crazy hen.</p>
      </div>
      <div class="projectShowcase">
        <div class="projectImgContainer">
          <img src="./assets/imgs/layout/da-bubble-project-img.jpg" alt="" class="projectImg">
          <div class="projectImgOverlay">
            <button class="btnStandardWhite"><span class="f-size-20"><a href="">Project details</a></span></button>
          </div>
        </div>
        <p class="f-size-24 font-bold">DABubble</p>
        <p>This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive
          interface,
          real-time messaging, and robust channel organization.</p>
      </div>
    </section>
  </section>
</section>
