.letter {
  display: flex;
  align-items: flex-end;
  vertical-align: bottom;
  transition: width 0.25s ease,
  transform 0.25s ease;
  transform-origin: left center;
  height: 100px;
  padding-left: 8px;
  margin-left:-8px;
}

.letter img {
  display: block;
  max-height: 100px;
  height: auto;
  max-height: 100px;
  width: 100%;
}

.letter img:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(93%) saturate(405%) hue-rotate(6deg) brightness(108%) contrast(97%)
}

.sub:hover .letter img{
  padding-top:100px;
}

@media (max-width: 1100px) {
  .letter {
    height: 80px;
    padding-left: 6px;
    margin-left:-6px;
  }

  .letter img {
    max-height: 80px;
  }
}

@media (max-width: 768px) {
  .letter {
    display: none;
  }
}


