.letter {
  display: flex;
  align-items: flex-end;
  vertical-align: bottom;
  transition: width 0.25s ease,
  transform 0.25s ease;
  transform-origin: left center;
  height: 6.25rem;
  padding-left: 0.5rem;
  margin-left:-0.5rem;
}

.letter img {
  display: block;
  max-height: 6.25rem;
  height: auto;
  max-height: 6.25rem;
  width: 100%;
}

.letter img:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(93%) saturate(405%) hue-rotate(6deg) brightness(108%) contrast(97%)
}

.sub:hover .letter img{
  padding-top:6.25rem;
}

@media (max-width: 68.75rem) {
  .letter {
    height: 5rem;
    padding-left: 0.375rem;
    margin-left:-0.375rem;
  }

  .letter img {
    max-height: 5rem;
  }
}

@media (max-width: 48rem) {
  .letter {
    display: none;
  }
}
