.letter {
  display: inline-block;
  transition: width 0.25s ease,
  transform 0.25s ease;
  transform-origin: left center;
}

.letter img {
  display: block;
  max-height: 100px;
  height: auto;
  width: 100%;
}

.letter img:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(93%) saturate(405%) hue-rotate(6deg) brightness(108%) contrast(97%)
}

.sub:hover .letter img{
  padding-top:100px;
}

@media (max-width: 768px) {
  .letter {
    display: none;
  }
}


