.content {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
}

header {
  background-image: url('/assets/imgs/bg/03-skills-2300px.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  padding: 96px 64px 160px 64px;
  color: var(--color-primary);

}

.contentInner {
  padding: 64px;
  margin: 0;
}

.legalNoticeContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legalNoticeContent h3 {
  margin-bottom: 8px;
}

.ln-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legalNoticeContent .h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3355FF;
  margin: 0;
  padding-top: 16px;
}

.footerSection {
  padding: 128px 64px 64px 64px;
  background-image: url('/assets/imgs/bg/07-footer-2300px.jpg');
  background-position: top;
  background-size: cover;
}

