.content {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

header {
  background-image: url('/assets/imgs/bg/03-skills-2300px.jpg');
  background-position: bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  h2 {
    padding: 96px 64px 160px;
    color: var(--color-primary);
  }
}

.contentInner {
  padding: 64px;
  margin: 0;
}

.legalNoticeContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    margin-bottom: 8px;
  }

  .h4 {
    font-size: 20px;
    font-weight: 600;
    color: #3355FF;
    margin: 0;
    padding-top: 16px;
  }
}

.ln-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerSection {
  padding: 64px 64px 32px;
  background-image: url('/assets/imgs/bg/07-footer-2300px.jpg');
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .contentInner {
    padding: 32px;
  }

  header h2 {
    padding: 96px 32px 160px;
  }

  .footerSection {
    padding: 64px 32px 32px;
  }
}

@media (max-width: 480px) {
  .contentInner {
    padding: 32px 16px;
  }

  .footerSection {
    padding: 64px 16px 32px;
  }

  header h2 {
    padding: 48px 16px 128px;
  }
}
