* {
  color: var(--color-primary)
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 32px;
  padding: 140px 64px 48px;
}

.contentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(32px);
  flex-wrap: wrap;
  width: 100%;
}

#footerLinks .linkBox:first-child {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .footerLogo {
    width: 80px;

    &.layerBack {
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    &.layer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 1;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: 0;

        &+.layerBack {
          opacity: 1;
        }
      }
    }
  }
}

.firstLine {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.animationContainer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40%;
  overflow: hidden;
  animation: showHideFromLeft 5s ease infinite;

  .animatedImage {
    height: 100%;
  }
}

@keyframes showHideFromLeft {
  0% {
    width: 0
  }

  15%,
  85% {
    width: 100%
  }

  100% {
    width: 0
  }
}

.linkBox {
  padding: 8px 16px;
  position: relative;

  .animationContainerWidthC {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s ease;

    .animatedImageWidthC {
      position: absolute;
      bottom: 0;
      padding-left: 8px;
    }
  }

  &:hover .animationContainerWidthC {
    animation: showHideFromLeftC .3s ease;
    opacity: 1;
  }
}

@keyframes showHideFromLeftC {
  0% {
    width: 0
  }

  100% {
    width: 100%
  }
}

.footerLink {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 24px;
  transition: background-color .2s ease;

  &:hover {
    background-color: var(--color-high-nd);
  }
}

.footerLinkIcon {
  position: absolute;
  top: -150%;
  right: 0;
  transform: translateX(-50px) rotate(0);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.footerLink:hover~.footerLinkIcon {
  transform: translateX(0) rotate(360deg);
  opacity: 1;
  animation: rollIn .4s;
}

@keyframes rollIn {
  0% {
    transform: translateX(-50px) rotate(0);
    opacity: 0
  }

  70% {
    transform: translateX(10px) rotate(380deg);
    opacity: 1
  }

  100% {
    transform: translateX(0) rotate(360deg);
    opacity: 1
  }
}

@media(max-width:768px) {
  .firstLine {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media(max-width:480px) {

  .footer p,
  .footer a {
    font-size: 16px;
  }
}
