<footer class="footer">
  <a href="#"><img class="footerLogo" src="./assets/imgs/layout/lk-logo.png" alt=""></a>
  <p class="font-bold">© Levin Krischer 2026</p>
  <section class="contentRow" id="footerLinks">
    <div class="linkBox">
      <div class="animationContainerWidthC">
        <img class="animatedImageWidthC" src="./assets/imgs/decorations/3.png" alt="">
      </div>
      <a class="font-bold" href="/legal-notice">Legal Notice</a>
    </div>
    <div>
      <a class="footerLink font-bold" href="https://github.com/levinkrischer" target="_blank">GitHub</a>
      <img class="footerLinkIcon" src="./assets/icons/gitHub-icon.svg" alt="">
    </div>
    <div>
      <a class="footerLink font-bold" href="https://www.linkedin.com/in/levinkrischer" target="_blank">LinkedIn</a>
      <img class="footerLinkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
    </div>
    <div>
      <a class="footerLink font-bold" href="mailto:info@levinkrischer.de?subject=mail%20by%20website">Email</a>
      <img class="footerLinkIcon" src="./assets/icons/mail-icon.svg" alt="">
    </div>
  </section>
</footer>
