.content {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-image: url('/../../../../../assets/imgs/bg/06_contact_2300px.jpg');
  background-position: top;
  background-size: cover;
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.contactContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 140px 64px 48px;
}

.contentRow {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  width: 100%;
}

.contentLeft,
.contentRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.contentRight img {
  width: 40%;
  border-radius: 16px;
  align-self: flex-end;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.animationContainer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40%;
  overflow: hidden;
  animation: showHideFromLeft 5s ease infinite;

  .animatedImage {
    height: 100%;
  }
}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  15% {
    width: 100%;
  }

  85% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.footerLink {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 24px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-high-nd);
  }
}

.footerLinkIcon {
  position: absolute;
  top: -90%;
  right: 0;
  transform: translateX(-50px) rotate(0deg);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.footerLink:hover~.footerLinkIcon {
  transform: translateX(0) rotate(360deg);
  opacity: 1;
  animation: rollIn 0.4s;
}

@keyframes rollIn {
  0% {
    transform: translateX(-50px) rotate(0);
    opacity: 0;
  }

  70% {
    transform: translateX(10px) rotate(380deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0) rotate(360deg);
    opacity: 1;
  }
}

.devMedal {
  margin-bottom: -20%;
  min-width: 140px;
}

.mobile {
  display: none;
}

@media (min-width: 2100px) {
  .content {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 1200px) {
  .animationContainer {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .content {
    background-size: auto 100%;
  }

  .contactContent {
    padding: 80px 32px 32px;
  }

  .contentRow,
  .contentRight,
  .contentLeft {
    flex-direction: column;
    width: 100%;
    gap: 48px;
  }

  .contentRight {
    padding-bottom: 64px;
  }

  .noMobile {
    display: none;
  }

  .mobile {
    display: block;
  }

  .devMedal {
    width: 40%;
    max-width: 200px;
    margin-bottom: 0;
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .contactContent {
    padding: 60px 16px 16px;
  }
}
