<section class="content" id="contact">
  <section class="contentInner contactContent">
    <section class="contentRow">
      <section class="contentLeft">
        <div class="headline">
          <img class="devMedal mobile" src="./assets/imgs/layout/contact-lk-fed.png" alt="">
          <p class="f-size-20">{{ 'CONTACT.SECTION_LABEL' | translate }}</p>
          <h2>{{ 'CONTACT.HEADLINE' | translate }}</h2>
        </div>
        <p>{{ 'CONTACT.TEXT' | translate }}</p>
        <div class="animationContainer noMobile">
          <img class="animatedImage" src="./assets/imgs/decorations/line-with-arrow-right.svg" alt="">
        </div>
      </section>
      <section class="contentRight">
        <img class="devMedal noMobile" src="./assets/imgs/layout/contact-lk-fed.png" alt="">
        <app-contact-form></app-contact-form>
      </section>
    </section>
    <app-footer></app-footer>
  </section>
</section>
