<section class="navbar">
  <img class="headerLogo" src="./assets/imgs/layout/lk-logo.png" alt="">
  <div class="linkBox">
    <img class="linkDecoCircle" src="./assets/imgs/decorations/1.png" alt="">
    <a href="">About me </a>
  </div>
  <div class="linkBox">
    <img class="linkDecoUnderline" src="./assets/imgs/decorations/2-a.png" alt="">
    <a href="">Skills</a>
  </div>
  <div class="linkBox">
    <img class="linkDecoUnderline" src="./assets/imgs/decorations/4-a.png" alt="">
    <a href="">Project</a>
  </div>
  <div class="linkBox">
    <img class="linkDecoUnderline" src="./assets/imgs/decorations/3.png" alt="">
    <a href="">Project</a>
  </div>
  <div class="toggleSwitch">
    <p>EN</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p>DE</p>
  </div>
</section>
