<section class="navbar">
  <div class="logoContainer">
    <a href="#">
      <img class="headerLogo layer" src="assets/imgs/layout/lk-logo-blue.png" alt="">
      <img class="headerLogo layerBack" src="assets/imgs/layout/lk-logo-yellow.png" alt="">
    </a>
  </div>
  <app-menue></app-menue>
  <button class="mobileNavigation mobile" (click)="toggleMobileMenu()">
    <img class="mobileNavigationIcon mobileNavigationIcon-burger" src="assets/imgs/decorations/burger-menue.png"
      alt="open navigation">
    <img class="mobileNavigationIcon mobileNavigationIcon-close" src="assets/imgs/decorations/burger-menue-close.png"
      alt="close navigation">
  </button>
</section>
