* {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 80px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.headerLogo {
  max-width: 60px;

  &.layerBack {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &.layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0;

      &+.layerBack {
        opacity: 1;
      }
    }
  }
}

.toggleSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F87A55;
  border: 1px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3355FF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  transform: translate(20px, -50%);

}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.linkBox {
  padding: 8px 16px;
}

.linkBox:hover {
  .linkDecoCircle {
    opacity: 1;
  }

  .linkDecoUnderline {
    opacity: 1;
    width: 100%;
  }
}

.linkDecoCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all 0.4s ease;
  opacity: 0;
}

.linkDecoUnderline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  transition: all 0.4s ease;
  opacity: 0;
}

.linkBox:hover .animationContainerHeight {
  animation: showHideFromTop 0.3s ease;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.animationContainerHeight {
  position: absolute;
  left: 0;
  top: -7%;
  width: 100%;
  transition: opacity 0.2s ease;
  overflow: hidden;
  align-self: flex-start;
  opacity: 0;
}

.animatedImageHeight {
  width: 100%;
  object-fit: cover;
}

@keyframes showHideFromTop {
  0% {
    height: 0;
  }

  100% {
    height: 120%;
  }
}

.linkBox:hover .animationContainerWidth {

  &A,
  &B,
  &C {
    animation: showHideFromLeft 0.3s ease;
    opacity: 1;
    transition: opacity 0.2s ease;
  }

}

@keyframes showHideFromLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animationContainerWidth {

  &A {
    position: absolute;
    bottom: -5%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease;
    overflow: hidden;
    opacity: 0;
  }

  &B {
    position: absolute;
    bottom: -10%;
    left: 0%;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease;
    overflow: hidden;
    opacity: 0;
  }

  &C {
    position: absolute;
    bottom: -15%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease;
    overflow: hidden;
    opacity: 0;
  }

}

.animatedImageWidth {
  position: absolute;
  bottom: 0;
  left: 4px;

  &B {
    position: absolute;
    bottom: 0;
    left: 0px;
  }
}
