* {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}

app-menue {
  width: 80%;
}

a:hover {
  cursor: pointer;
}

h2,
p {
  mix-blend-mode: difference;
  color: var(--color-primary);
}

.logoContainer {
  width: 20%;
  display: flex;
}

.headerLogo {
  max-width: 60px;
}

.headerLogo.layerBack {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.headerLogo.layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.headerLogo.layer:hover {
  opacity: 0;
}

.headerLogo.layer:hover+.layerBack {
  opacity: 1;
}

.mobileNavigation {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
}

.mobileNavigationIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.mobileNavigationIcon-close {
  display: none;
}

.mobileNavigation:hover {
  cursor: pointer;
}

.mobileNavigation.opened .mobileNavigationIcon-burger {
  display: none;
}

.mobileNavigation.opened .mobileNavigationIcon-close {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 32px;
  }

  .mobileNavigation {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 16px;
  }
}
