* {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 64px;
}

app-menue {
  width: 80%;
}

h2,
p {
  mix-blend-mode: difference;
  color: var(--color-primary);
}

.logoContainer {
  width: 20%;
  display: flex;
}

.headerLogo {
  max-width: 60px;

  &.layerBack {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &.layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0;

      &+.layerBack {
        opacity: 1;
      }
    }
  }
}

.mobileNavigation {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 32px;
  }

  .mobileNavigation {
    display: block;
    background-image: url('/assets/imgs/decorations/burger-menue.png');
    background-size: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;
    }

    &.opened {
      background-image: url('/assets/imgs/decorations/burger-menue-close.png');
    }
  }


}

@media (max-width: 480px) {
  .navbar {
    padding: 0 16px;
  }
}
