.content {
  display: flex;
  flex-direction: column;
  // gap: 32px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.contentInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.thoughtsContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  padding: 140px 64px 140px 64px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.headlineFirstLine {
  display: flex;
  gap: 16px;

  .headlineArrow {
    position: absolute;
    left: -40%;
    top: -50%;
    transform: translateX(-40%);
  }
}

.thoughtsShowcase {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
  height:100%;
}

.thoughtsCard {
  width: 40%;
  transition: opacity 0.3s ease-in-out;

  img {
    width: 100%;
    height: auto;
  }

  .thoughtsCardBgImg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover .thoughtsCardBgImg {
    opacity: 0.5;
  }

  .thoughtsName,
  .thoughtsPosition {
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }
}


#card1 {
  // position: absolute;
  // top: 0;
  // left: 0;
  rotate: -4deg;
  z-index: 3;

  // &:hover {
  //   z-index: 4;
  // }

  // &:hover~#card2 {
  //   z-index: 1;
  // }

  &:hover .thoughtsName,
  &:hover .thoughtsPosition {
    color: var(--color-primary);
  }
}

#card2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  &:hover {
    z-index: 4;
  }

  &:hover~#card1 {
    z-index: 1;
  }

  &:hover .thoughtsName,
  &:hover .thoughtsPosition {
    color: var(--color-primary);
  }
}

#card3 {
  // position: absolute;
  // top: 0;
  // right: 0;
  rotate: 4deg;

  &:hover {
    z-index: 3;
  }

  &:hover~#card1 {
    z-index: 1;
  }

  &:hover .thoughtsName,
  &:hover .thoughtsPosition {
    color: var(--color-primary);
  }
}

.thoughtsCardContent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contactLink {
  display: flex;
  gap: 8px;
  align-items: center;
  // transition: all 0.3s ease-in-out;

  .linkIcon {
    width: 18px;
    height: 18px;
    filter: invert(100);
    transition: all 0.3s ease-in-out;
  }

  .linkName {
    transition: color 0.3s ease-in-out;
    color: var(--color-secondary);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .linkIcon {
    filter: invert(0);
  }

  &:hover .linkName {
    color: var(--color-primary);
  }
}
