<section class="content" id="thoughts">
  <section class="contentInner thoughtsContent">
    <div class="headline">
      <div class="headlineFirstLine">
        <div class="animationContainerWidth">
          <img class="animatedImageWidth" src="./assets/imgs/decorations/blue-arrow.svg" alt="">
        </div>
        <p class="f-size-20">{{ 'THOUGHTS.SECTION_LABEL' | translate }}</p>
      </div>
      <div>
        <h2>{{ 'THOUGHTS.HEADLINE' | translate }}</h2>
      </div>
    </div>
    <section class="thoughtsShowcase">
      <div class="thoughtsCard" id="card1">
        <div class="thoughtsCardContent">
          <p class="f-size-18">{{ 'THOUGHTS.CARD1.QUOTE' | translate }}</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">{{ 'THOUGHTS.CARD1.NAME' | translate }}</span><br>
              <span class="thoughtsPosition f-size-16">{{ 'THOUGHTS.CARD1.POSITION' | translate }}</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">{{ 'THOUGHTS.CARD1.PROFILE' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="thoughtsCard" id="card2" [style.background-image]="'url(assets/imgs/layout/thought-card.png)'">
        <div class="thoughtsCardContent">
          <p class="f-size-18">{{ 'THOUGHTS.CARD2.QUOTE' | translate }}</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">{{ 'THOUGHTS.CARD2.NAME' | translate }}</span><br>
              <span class="thoughtsPosition f-size-16">{{ 'THOUGHTS.CARD2.POSITION' | translate }}</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">{{ 'THOUGHTS.CARD2.PROFILE' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="thoughtsCard" id="card3" [style.background-image]="'url(assets/imgs/layout/thought-card.png)'">
        <div class="thoughtsCardContent">
          <p class="f-size-18">{{ 'THOUGHTS.CARD3.QUOTE' | translate }}</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">{{ 'THOUGHTS.CARD3.NAME' | translate }}</span><br>
              <span class="thoughtsPosition f-size-16">{{ 'THOUGHTS.CARD3.POSITION' | translate }}</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">{{ 'THOUGHTS.CARD3.PROFILE' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
