<section class="content" id="thoughts">
  <section class="contentInner thoughtsContent">
    <div class="headline">
      <div class="headlineFirstLine">
        <div class="animationContainerWidth">
          <img class="animatedImageWidth" src="./assets/imgs/decorations/blue-arrow.svg" alt="">
        </div>
        <p class="f-size-20">{{ 'THOUGHTS.SECTION_LABEL' | translate }}</p>
      </div>
      <div>
        <h2>{{ 'THOUGHTS.HEADLINE' | translate }}</h2>
      </div>
    </div>
    <section class="thoughtsShowcase">
      <div class="thoughtsCard" id="card1">
        <div class="thoughtsCardContent">
          <p class="f-size-18">{{ 'THOUGHTS.CARD1.QUOTE' | translate }}</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">{{ 'THOUGHTS.CARD1.NAME' | translate }}</span>
              <br>
              <span class="thoughtsPosition f-size-16">{{ 'THOUGHTS.CARD1.POSITION' | translate }}</span>
            </p>
            <div class="contactLink">
              <a href="https://www.linkedin.com/in/volker-derksen-2a340633a/" target="_blank" rel="noopener noreferrer">
                <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
                {{ 'THOUGHTS.CARD1.PROFILE' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="thoughtsCard" id="card3" [style.background-image]="'url(assets/imgs/layout/thought-card.png)'">
        <div class="thoughtsCardContent">
          <p class="f-size-18">{{ 'THOUGHTS.CARD3.QUOTE' | translate }}</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">{{ 'THOUGHTS.CARD3.NAME' | translate }}</span>
              <br>
              <span class="thoughtsPosition f-size-16">{{ 'THOUGHTS.CARD3.POSITION' | translate }}</span>
            </p>
            <div class="contactLink">
              <a href="https://www.linkedin.com/in/patrick-schauer-5a369322a/" target="_blank"
              rel="noopener noreferrer">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              {{ 'THOUGHTS.CARD3.PROFILE' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
</section>
