<section class="content" id="thoughts">
  <section class="contentInner thoughtsContent">
    <div class="headline">
      <div class="headlineFirstLine">
        <div class="animationContainerWidth">
          <img class="animatedImageWidth" src="./assets/imgs/decorations/blue-arrow.svg" alt="">
        </div>
        <p class="f-size-20">IN EIGENEN WORTEN:</p>
      </div>
      <div>
        <h2>Kommentare von Kollegen</h2>
      </div>
    </div>
    <section class="thoughtsShowcase">
      <div class="thoughtsCard" id="card1">
        <div class="thoughtsCardContent">
          <p class="f-size-18">"Working with them was a pleasure. Their dedication to quality and collaboration elevated
            our team's performance and project outcomes."</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">Liam Smithy</span><br>
              <span class="thoughtsPosition f-size-16">Project Manager</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="thoughtsCard" id="card2">
        <div class="thoughtsCardContent">
          <p class="f-size-18">"Working with them was a pleasure. Their dedication to quality and collaboration elevated
            our team's performance and project outcomes."</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">Liam Smithy</span><br>
              <span class="thoughtsPosition f-size-16">Project Manager</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="thoughtsCard" id="card3">
        <div class="thoughtsCardContent">
          <p class="f-size-18">"Working with them was a pleasure. Their dedication to quality and collaboration elevated
            our team's performance and project outcomes."</p>
          <div class="bottomLine">
            <p>
              <span class="thoughtsName f-size-20 font-bold">Liam Smithy</span><br>
              <span class="thoughtsPosition f-size-16">Project Manager</span>
            </p>
            <div class="contactLink">
              <img class="linkIcon" src="./assets/icons/linkedIn-icon.svg" alt="">
              <p class="linkName">Profile</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </section>
