*:hover {
  cursor: pointer;
}

.skillsPeel {
  width: 100%;
}

.peel {
  width: 100%;
  rotate: 8deg;

  .peelImage {
    width: 100%;
  }
}

.peelCoverDesc {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.skillsPeel .iconContainer {
  width: 44px;
}

.iconContainer .icon {
  width: 100%;
}

.peelIcons {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.peel.slightlyOpened,
.peel.closed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  rotate: 8deg;
  opacity: 1;
  transition: 0.3s ease-in-out;

  .peelImage {
    width: 100%;
  }
}

.peel.closed:hover {
  opacity: 0;
}

.closedDesc {
  font-family: 'Kalam', cursive;
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.arrowOpen {
  width: 30%;
}

.toBeHidden {
  opacity: 0;
  animation: hidePeel 0.5s;
}

@keyframes hidePeel {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.opened *:hover {
  cursor: default;
}
