<div class="skillsPeel">
  <div class="peel opened">
    <img class="peelImage" src="./assets/imgs/layout/peel-opened.png" alt="">
  </div>
  <div #peelClick class="peel slightlyOpened noMobile" (click)="hidePeel()">
    <img class="peelImage" src="./assets/imgs/layout/peel-slightly-opened.png" alt="">
  </div>
  <div #peelLayer class="peel closed noMobile" (click)="hidePeel()">
    <img class="peelImage" src="./assets/imgs/layout/peel-closed.png" alt="">
  </div>
  <div #peelLayerMobile class="peel closed mobile" (click)="hidePeel()">
    <img class="peelImage" src="./assets/imgs/layout/peel-closed-mobile.png" alt="">
  </div>
</div>
