*:hover {
  cursor: pointer
}

.skillsPeel {
  width: 100%;
}

.peel {
  width: 100%;
  rotate: 8deg;
}

.peelImage {
  width: 100%;
}

.peel.slightlyOpened,
.peel.closed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  rotate: 8deg;
  opacity: 1;
  transition: .3s ease-in-out;
}

.peel.closed:hover {
  opacity: 0;
}

@keyframes hidePeel {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.opened *:hover {
  cursor: default;
}

.noMobile {
  display: block;
}

.mobile {
  display: none;
}

.toBeHidden {
  opacity: 0;
  animation: hidePeel .5s;
}

.hidden {
  display: none;
}

@media(max-width:1100px) {
  .noMobile {
    display: none
  }

  .mobile {
    display: block
  }

  .hidden {
    display: none
  }
}

@media(max-width:768px) {
  .skillsPeel {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
}

@media(max-width:480px) {
  .skillsPeel {
    width: 100%;
  }
}
