<div class="skillsPeel">
  <div class="peel">
    <img class="peelImage" src="./assets/imgs/layout/peel-opened.png" alt="">
    <div class="peelCoverDesc">
      <p class="font-bold">Also, I'm interested in diving into:</p>
      <div class="peelIcons">
        <div class="iconContainer">
          <img class="icon" src="./assets/icons/11-react.png" alt="">
          <p class="skillsIconDesc">React</p>
        </div>
        <div class="iconContainer">
          <img class="icon" src="./assets/icons/12-vue.png" alt="">
          <p class="skillsIconDesc">Vue</p>
        </div>
      </div>
    </div>
  </div>
  <div #peelClick class="peel slightlyOpened" >
    <img class="peelImage" src="./assets/imgs/layout/peel-slightly-opened.png" alt="">
  </div>
  <div #peelLayer class="peel closed" (click)="hidePeel()">
    <img class="peelImage" src="./assets/imgs/layout/peel-closed.png" alt="">
    <div class="closedDesc">
      <img src="./assets/imgs/decorations/arrow.png" alt="" class="arrowOpen">
      <p>Pull to peel</p>
    </div>
  </div>
</div>
