.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: transparent;
  isolation: isolate;
}

.contactFrame {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  transition: height .4s ease;
  position: relative;
}

.contactFrame:hover {
  cursor: pointer;
}

.contactFrame a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactFrame::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 38px;
  height: 0;
  border-radius: 50%;
  background-color: var(--color-high-nd);
  transition: height .4s ease;
  z-index: -1;
}

.contactFrame:hover::after {
  height: 38px;
}

.contactLink {
  transition: all .3s ease;
}

@media(max-width:1100px) {
  .contactLinks {
    bottom: 32px;
    left: 32px;
  }
}

@media(max-width:768px) {
  .contactLinks {
    position: unset;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
