<section class="contactLinks">
  <div class="contactFrame">
    <a href="https://www.linkedin.com/in/levinkrischer" target="_blank"><img class="contactLink"
        src="./assets/icons/linkedIn-icon.svg" alt=""></a>
  </div>
  <div class="contactFrame">
    <a href="https://github.com/levinkrischer" target="_blank"><img class="contactLink"
        src="./assets/icons/gitHub-icon.svg" alt=""></a>
  </div>
  <div class="contactFrame">
    <a href="mailto:info@levinkrischer.de?subject=mail%20by%20website" target="_blank"><img class="contactLink"
        src="./assets/icons/mail-icon.svg" alt=""></a>
  </div>
</section>
