<nav class="menue">
  <div class="linkBox">
    <div class="animationContainerHeight">
      <img class="animatedImageHeight" src="./assets/imgs/decorations/1.png" alt="">
    </div>
    <a href="#aboutMe">About me</a>
  </div>
  <div class="linkBox">
    <div class="animationContainerWidthA">
      <img class="animatedImageWidth" src="./assets/imgs/decorations/2-a.png" alt="">
    </div>
    <a href="#skills">Skills</a>
  </div>
  <div class="linkBox">
    <div class="animationContainerWidthB">
      <img class="animatedImageWidthB" src="./assets/imgs/decorations/4.png" alt="">
    </div>
    <a href="#projects">Projects</a>
  </div>
  <div class="linkBox">
    <div class="animationContainerWidthC">
      <img class="animatedImageWidth" src="./assets/imgs/decorations/3.png" alt="">
    </div>
    <a href="#contact">Contact</a>
  </div>
  <div class="toggleSwitch">
    <p>EN</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p>DE</p>
  </div>
</nav>
