<header class="content" id="header">
  <div class="bg-desktop" [style.background-image]="'url(assets/imgs/bg/01-Hero-2300px.jpg)'"></div>
  <div class="bg-mobile" [style.background-image]="'url(assets/imgs/bg/01_Hero-1110px-mobile.png)'"></div>
  <app-navbar></app-navbar>
  <section class="contentInner headerContent">
    <section class="headerHeadline">
      <section class="headerHeadlineTop">
        <section class="headerHeadlineTopLeft">
          <div class="headerBtn">
            <button class="firstBtn">{{ 'HEADER.HELLO' | translate }}</button>
            <div class="headerBtnBg"></div>
            <button class="secondBtn">{{ 'HEADER.IAM' | translate }}</button>
            <img src="./assets/imgs/layout/waving_hand.svg" class="buttonHeaderIcon">
          </div>
          <section #headlineRoot class="headline">
            <app-letter char="F" [scale]="scale"></app-letter>
            <app-letter char="r" [scale]="scale"></app-letter>
            <app-letter char="o" [scale]="scale"></app-letter>
            <app-letter char="n" [scale]="scale"></app-letter>
            <app-letter char="t" [scale]="scale"></app-letter>
            <app-letter char="e" [scale]="scale"></app-letter>
            <app-letter char="n" [scale]="scale"></app-letter>
            <app-letter char="d" [scale]="scale"></app-letter>
            <h1 class="headlineLetterMobile">F</h1>
            <h1 class="headlineLetterMobile">r</h1>
            <h1 class="headlineLetterMobile">o</h1>
            <h1 class="headlineLetterMobile">n</h1>
            <h1 class="headlineLetterMobile">t</h1>
            <h1 class="headlineLetterMobile">e</h1>
            <h1 class="headlineLetterMobile">n</h1>
            <h1 class="headlineLetterMobile">d</h1>
          </section>
        </section>
        <section class="headerHeadlineTopRight">
          <section class="profileImg">
            <img class="profileImgFrame" src="./assets/imgs/layout/profile-picture-hover.jpg" alt="">
            <img class="profileImgFrameInner" src="./assets/imgs/layout/profile-picture.jpg" alt="">
          </section>
        </section>
      </section>
      <section class="headerHeadlineBottom">
        <section class="headline headlineRight">
          <app-letter char="D" [scale]="scale"></app-letter>
          <app-letter char="E" [scale]="scale"></app-letter>
          <app-letter char="V" [scale]="scale"></app-letter>
          <app-letter char="E" [scale]="scale"></app-letter>
          <app-letter char="L" [scale]="scale"></app-letter>
          <app-letter char="O" [scale]="scale"></app-letter>
          <app-letter char="P" [scale]="scale"></app-letter>
          <app-letter char="E" [scale]="scale"></app-letter>
          <app-letter char="R" [scale]="scale"></app-letter>
          <h1 class="headlineLetterMobile">D</h1>
          <h1 class="headlineLetterMobile">E</h1>
          <h1 class="headlineLetterMobile">V</h1>
          <h1 class="headlineLetterMobile">E</h1>
          <h1 class="headlineLetterMobile">L</h1>
          <h1 class="headlineLetterMobile">O</h1>
          <h1 class="headlineLetterMobile">P</h1>
          <h1 class="headlineLetterMobile">E</h1>
          <h1 class="headlineLetterMobile">R</h1>
        </section>
        <app-button>
          <a routerLink="/" fragment="contact">{{ 'HEADER.CONTACT' | translate }}</a>
        </app-button>
      </section>
    </section>
    <section class="profileImgMobile">
      <img class="profileImgFrame" src="./assets/imgs/layout/profile-picture-hover.jpg" alt="">
      <img class="profileImgFrameInner" src="./assets/imgs/layout/profile-picture.jpg" alt="">
    </section>
    <app-social-links></app-social-links>
  </section>
</header>
