.content {
  height: 100dvh;
  background-image: url('/assets/imgs/bg/01-Hero-2300px.jpg');
  background-size: cover;
  background-position: bottom;
  background-color: var(--color-secondary);
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90% - 200px);
  max-width: var(--max-width);
}

.headline {
  display: flex;
  align-items: end;

  &Right {
    flex-direction: row;
    align-items: end;
  }
}

.headerHeadline {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 70%;
  margin: 0 auto;
}

.headerHeadlineTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &Left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  &Right {
    display: flex;
    justify-content: end;
    width: 30%;
    max-width: 15dvw;
  }
}

.headerHeadlineBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}

.headlineLetterMobile {
  display: none;
}

.profileImg {
  width: 100%;
  min-width: 150px;
  rotate: 8deg;
  position: relative;

  .profileImgFrame {
    width: 100%;
    display: block;
  }

  .profileImgFrameInner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }
}

.headerBtn {
  position: relative;
  transition: all 0.4s ease-in-out;
  border: 1px solid white;
  border-radius: 24px;
  width: 128px;
  margin-bottom: 32px;

  &:hover {
    width: 183px;

    .firstBtn {
      opacity: 0;
    }

    .secondBtn {
      opacity: 1;
      color: white;
      width: 100%;
    }

    .headerBtnBg {
      opacity: 1;
      width: 100%;
    }
  }

  .firstBtn,
  .secondBtn {
    font-family: 'BricolageGrotesque', sans-serif;
    font-size: 1rem;
    border: none;
    padding: 8px 16px;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
  }

  .firstBtn {
    background: none;
    color: white;
    opacity: 1;
  }

  .secondBtn {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border-radius: 24px;
    color: var(--color-secondary);
    opacity: 0;
    width: 0;
  }

  .headerBtnBg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px;
    background-color: var(--color-high-nd);
    width: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .buttonHeaderIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    right: 0;
    transition: all 0.4s ease-in-out;
    rotate: 180deg;
    opacity: 0;
  }

  &:hover .buttonHeaderIcon {
    rotate: 360deg;
    animation: rollOut 0.7s;
    opacity: 1;
  }
}

.mobile {
  display: none;
}

.noMobile {
  display: block;
}

@keyframes rollOut {
  0% {
    rotate: 180deg;
  }

  70% {
    rotate: 400deg;
    right: -20px;
  }

  100% {
    rotate: 360deg;
  }
}

.profileImgMobile {
  display: none;
}

app-social-links {
  position: absolute;
  bottom: 0;
  left: 64px;
}

@media (min-width: 2100px) {
  .content {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 1100px) {
  .headerHeadline {
    width: 80%;
  }

  app-social-links {
    bottom: 0;
    left: 32px;
  }
}

@media (max-width: 768px) {
  .content {
    height: auto;
  }

  .mobile {
    display: block;
  }

  .noMobile {
    display: none;
  }

  app-button {
    align-self: flex-end;
  }

  app-social-links {
    display: none;
  }

  .headerContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 64px 0 128px;
  }

  .headline {
    height: auto;
  }

  .headerHeadline {
    width: 90%;
    gap: 16px;
  }

  .headerHeadlineTopRight {
    display: none;
  }

  .headlineLetterMobile {
    display: inline-block;
  }

  .headerHeadlineBottom {
    align-items: flex-start;
  }

  .profileImgMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    img {
      width: 100%;
      height: auto;
      rotate: 8deg;
    }
  }

  .profileImgFrame {
    display: none;
  }

  .profileImgFrameInner {
    position: relative;
    width: auto;
    height: 100%;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .profileImgMobile {
    width: 70%;
  }

  .headerContent {
    gap: 32px;
    padding: 32px 0 96px;
  }
}
