<header class="content">
  <app-navbar></app-navbar>

  <section class="contentInner headerContent">

    <section class="headerHeadline">
      <section class="headerHeadlineTop">
        <section class="headerHeadlineTopLeft">
          <div class="headerBtn">
            <button class="firstBtn">Hello World!</button>
            <div class="headerBtnBg"></div>
            <button class="secondBtn">I'M LEVIN KRISCHER</button>
            <img src="./assets/imgs/layout/waving_hand.svg" class="buttonHeaderIcon">
          </div>


          <section #headlineRoot class="headline"> <app-letter char="F" [scale]="scale"></app-letter> <app-letter char="r"
              [scale]="scale"></app-letter> <app-letter char="o" [scale]="scale"></app-letter> <app-letter char="n"
              [scale]="scale"></app-letter> <app-letter char="t" [scale]="scale"></app-letter> <app-letter char="e"
              [scale]="scale"></app-letter> <app-letter char="n" [scale]="scale"></app-letter> <app-letter char="d"
              [scale]="scale"></app-letter> </section>
        </section>
        <section class="headerHeadlineTopRight">
          <section class="profileImg">
            <img class="profileImgFrame" src="./assets/imgs/layout/profile-picture-hover.jpg" alt="">
            <img class="profileImgFrameInner" src="./assets/imgs/layout/profile-picture.jpg" alt="">
          </section>
        </section>
      </section>

      <section class="headerHeadlineBottom">
        <section class="headline headlineRight"> <app-letter char="D" [scale]="scale"></app-letter> <app-letter char="E"
            [scale]="scale"></app-letter> <app-letter char="V" [scale]="scale"></app-letter> <app-letter char="E"
            [scale]="scale"></app-letter> <app-letter char="L" [scale]="scale"></app-letter> <app-letter char="O"
            [scale]="scale"></app-letter> <app-letter char="P" [scale]="scale"></app-letter> <app-letter char="E"
            [scale]="scale"></app-letter> <app-letter char="R" [scale]="scale"></app-letter> </section>
        <app-button><a href="#contact">Get in touch</a></app-button>
      </section>
    </section>

  </section>
  <app-social-links></app-social-links>
</header>
