form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--color-high-st);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
}

label {
  font-size: 24px;
  padding: 1rem 1rem 0 1rem;
}

button {
  width: 25%;
  align-self: flex-end;
}

.consentText {
  font-size: 18px;
}

.consentBox {
  display: flex;
  margin: 2rem 0;
}

a {
  color: var(--color-high-nd);
}

.firstLabel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contactImgCircle {
  width: 30%;
}
