<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <label for="name">Wie heißt Du?</label>
  <input id="name" type="text" formControlName="name" (focus)="clearField('name')" (blur)="validateField('name')"
    [ngClass]="{ 'error': contactForm.get('name')?.touched && contactForm.get('name')?.invalid }"
    [value]="getDisplayValue('name')" />

  <label for="email">Wie lautet deine E-Mail?</label>
  <input id="email" type="email" formControlName="email" (focus)="clearField('email')" (blur)="validateField('email')"
    [ngClass]="{ 'error': contactForm.get('email')?.touched && contactForm.get('email')?.invalid }"
    [value]="getDisplayValue('email')" />

  <label for="message">Wie kann ich dir helfen?</label>
  <input id="message" type="text" formControlName="message" (focus)="clearField('message')"
    (blur)="validateField('message')"
    [ngClass]="{ 'error': contactForm.get('message')?.touched && contactForm.get('message')?.invalid }"
    [value]="getDisplayValue('message')" />

  <div class="consentBox">
    <input class="checkbox" type="checkbox" id="consent" formControlName="consent" />
    <div class="checkmark"></div>
    <label class="consentText" for="consent">
      Die <a href="#">Datenschutzerklärung</a> habe ich gelesen und stimme der Verarbeitung meiner Daten zur Bearbeitung meiner Anfrage zu.
      @if (showConsentError) {
      <span class="consentError">
        Bitte akzeptiere die Datenschutzerklärung.
      </span>
      }
    </label>
  </div>

  <!-- Neue Syntax für Fehlermeldung -->


  <!-- Button in Wrapper, damit Klicks abgefangen werden -->
  <div class="submitArea">
    <div class="animationContainer mobile">
      <img class="animatedImage" src="./assets/imgs/decorations/line-with-arrow-right.svg" alt="">
    </div>

    <div class="submitWrapper" (click)="onDisabledSubmitAttempt()">
      <button class="btnStandard" type="submit" [disabled]="!contactForm.valid">
        Absenden
      </button>
    </div>
  </div>

</form>
