form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 24px;
    padding: 1rem 1rem 0;
  }

  input {
    padding: 1rem;
    border: 0;
    border-bottom: 1px solid var(--color-high-st);
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;

    &.error {
      color: #FF3A00;
    }
  }

  a {
    color: var(--color-high-nd);
  }
}

.consentBox {
  display: flex;
  margin: 2rem 0;
  gap: 16px;

  .consentText {
    font-size: 18px;
  }

  .consentError {
    color: #FF3A00;
    font-size: 14px;
    margin-left: 24px;
  }
}

.submitArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  .animationContainer {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .submitWrapper {
    min-width: 50%;

    .btnStandard {
      width: 100%;
      min-width: unset;
    }

    button:disabled {
      pointer-events: none;
    }
  }
}

.consentLink {
  color: var(--color-high-nd);
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--color-high-st)
  }
}

.mobile {
  display: none;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.fieldError {
  min-height: 1.2rem;
  font-size: 0.85rem;
  color: var(--color-error);
  margin-top: 4px;
  line-height: 1.2rem;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.fieldError.visible {
  opacity: 1;
}

.defaultError {
  color: var(--color-error);
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
