.content {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

header {
  .headerContent {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('/assets/imgs/bg/03-skills-2300px.jpg');
    background-position: bottom center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  h2 {
    padding: 96px 64px 160px;
    color: var(--color-primary);
  }
}

.contentInner {
  padding: 64px;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.policyContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    margin-bottom: 8px;
  }

  .policyTitle {
    font-size: 20px;
    font-weight: 600;
    color: #3355FF;
    margin: 0;
    padding-top: 16px;
  }

  .policySubtitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  .policySubsubtitle {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
}

.policyBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerSection {
  .footerContent {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('/assets/imgs/bg/07-footer-2300px.jpg');
    background-size: 100% 100%;
    padding: 64px 64px 32px;
  }
}

@media (min-width: 2100px) {

  .headerContent,
  .policyContent {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 0%,
          var(--color-primary) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg,
          rgba(255, 255, 255, 0) 0%,
          var(--color-primary) 100%);
    }
  }
}

@media (max-width: 768px) {
  .contentInner {
    padding: 32px;
  }

  header h2 {
    padding: 96px 32px 160px;
  }

  .footerSection {
    .footerContent {
      padding: 64px 32px 32px;
    }
  }
}

@media (max-width: 480px) {
  .contentInner {
    padding: 32px 16px;
  }


  header h2 {
    padding: 48px 16px 128px;
  }

  .footerSection {
    .footerContent {
      padding: 64px 16px 32px;
    }
  }
}
