.content {
  height: 100dvh;
  background-image: url('/assets/imgs/bg/01-Hero-2300px.jpg');
  background-size: cover;
  background-position: bottom;
}

.policyContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90% - 100px);
}
