@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../public/assets/fonts/BricolageGrotesque-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Kalam';
  src: url('../public/assets/fonts/Kalam-Regular.ttf') format('truetype');
}

:root {
  --color-primary: white;
  --color-secondary: #1d1d1d;
  --color-high-st: #F7C518;
  --color-high-nd: #3355FF;
  --color-high-rd: #F87A55;
  --color-error: #FF3A00;
  --max-width: 90rem;
  --max-side-width: 143.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  position: relative;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'BricolageGrotesque', sans-serif;
}

h1 {
  font-size: 8rem;
  line-height: 8rem;
  color: var(--color-primary);
}

h2 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: clamp(2.5rem, 4vw, 4rem);
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: var(--color-secondary);
}

.font-bold {
  font-weight: 700;
}

.f-size-16 {
  font-size: 1rem;
}

.f-size-20 {
  font-size: 1.25rem;
}

.f-size-24 {
  font-size: 1.5rem;
}

.mt-32 {
  margin-top: 2rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.mt-80 {
  margin-top: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

.contentInner {
  max-width: 87.5rem;
  margin: 0 auto;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btnStandard {
  font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  border: var(--color-secondary) solid 1px;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0px 0.25rem 0.25rem;
  color: var(--color-secondary);
  background-color: transparent;
  box-shadow: 4px 4px var(--color-secondary);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px var(--color-secondary);
    transform: translate(0.25rem, 0.25rem);
    background-color: #f87a55;
    cursor: pointer;
  }
}

.btnStandardWhite {
  font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  border: var(--color-primary) solid 1px;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0px 0.25rem 0.25rem;
  color: var(--color-primary);
  background-color: transparent;
  box-shadow: 4px 4px var(--color-primary);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px var(--color-primary);
    transform: translate(0.25rem, 0.25rem);
    background-color: #f87a55;
    cursor: pointer;
  }
}

p,
h2 {
  &:hover {
    cursor: default;
  }
}

@media (max-width: 48rem) {
  h1 {
    font-size: clamp(3rem, 14vw, 7.5rem);
    line-height: clamp(3rem, 14vw, 7.5rem);
  }

  .f-size-20 {
    font-size: 1.125rem;
  }

  .f-size-24 {
    font-size: 1.25rem;
  }

  .mt-60 {
    margin-top: 2rem;
  }

  .mb-60 {
    margin-bottom: 2rem;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}
