@font-face {
  font-family: 'BricolageGrotesque';
  src: url('/assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Kalam';
  src: url('/assets/fonts/Kalam-Regular.ttf') format('truetype');
}

:root {
  --color-primary: white;
  --color-secondary: #1d1d1d;
  --color-high-st: #F7C518;
  --color-high-nd: #3355FF;
  --color-high-rd: #F87A55;
  --max-width: 1440px;
  --max-side-width: 2300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  position: relative;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'BricolageGrotesque', sans-serif;
  background-color: var(--color-secondary);
}

h1 {
  font-size: 128px;
  line-height: 128px;
  color: var(--color-primary);
}

h2 {
  font-size: 64px;
  line-height: 64px;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: var(--color-secondary);
}

.font-bold {
  font-weight: 700;
}

.f-size-16 {
  font-size: 16px;
}

.f-size-20 {
  font-size: 20px;
}

.f-size-24 {
  font-size: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.contentInner {
  max-width: 1400px;
  margin: 0 auto;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btnStandard {
  font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  border: var(--color-secondary) solid 1px;
  border-radius: 24px;
  padding: 8px 16px;
  margin: 0px 4px 4px;
  color: var(--color-secondary);
  background-color: transparent;
  box-shadow: 4px 4px var(--color-secondary);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px var(--color-secondary);
    transform: translate(4px, 4px);
    background-color: #f87a55;
    cursor: pointer;
  }
}

.btnStandardWhite {
  font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  border: var(--color-primary) solid 1px;
  border-radius: 24px;
  padding: 8px 16px;
  margin: 0px 4px 4px;
  color: var(--color-primary);
  background-color: transparent;
  box-shadow: 4px 4px var(--color-primary);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px var(--color-primary);
    transform: translate(4px, 4px);
    background-color: #f87a55;
    cursor: pointer;
  }
}

p,
h2 {
  &:hover {
    cursor: default;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: clamp(52px, 15vw, 128px);
    line-height: clamp(42px, 15vw, 128px);
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
  }

  .f-size-20 {
    font-size: 18px;
  }

  .f-size-24 {
    font-size: 20px;
  }

  .mt-60 {
    margin-top: 32px;
  }

  .mb-60 {
    margin-bottom: 32px;
  }

  .btnStandard,
  .btnStandardWhite {
    width: 40%;
    min-width: 180px;
  }

}
