.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 32px;
  color: var(--color-primary);
  background-image: url('/assets/imgs/bg/03-skills-2300px.jpg');
}

.skillsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 80px 64px;
}

.skillsDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 0px 64px 80px 64px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:30%;
}

.skillsIntro {
  width: 50%;

  img {
    width: 100%;
  }
}

.skillsText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:90%;
  color: var(--color-secondary);
  text-align: center;
}

.placeholder {
  width:10%;
}


.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: min(32px);
  align-items: center;
  width:55%;

  img  {
    width: 64px;
  }
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  gap:8px;
}

.skillsIconDesc {
  text-align: center;
}


