.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 32px;
  color: var(--color-primary);
  background-image: url('/assets/imgs/bg/03-skills-2300px.jpg');
  background-position: bottom;
  background-size: cover;
  background-origin: border-box;
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.skillsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 140px 64px 80px 64px;
}

.skillsDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 0px 64px 220px 64px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.skillsIntro {
  width: 50%;

  img {
    width: 100%;
  }
}

.skillsText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: var(--color-secondary);
  text-align: center;
}

.placeholder {
  width: 10%;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: min(32px);
  align-items: center;
  width: 55%;

  .icon {
    width: 64px;
    filter: grayscale(100);
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: none;
      transform: scale(0.8);
    }
  }
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  gap: 8px;
}

.skillsIconDesc {
  text-align: center;
}

app-peel-off {
  width: 20%;
}

@media (min-width: 2100px) {
  .content {
    &::after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
        width: 1%;
      }

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0%;
        height: 100%;
        background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
        width: 1%;
      }
  }
}
