<section class="content" id="skills">
  <section class="contentInner skillsContent">
    <div class="headline">
      <p class="f-size-20">MEINE FÄHIGKEITEN</p>
      <div>
        <h2>Skills</h2>
        <img class="headlineCircle" src="./assets/imgs/decorations/circle-orange.png" alt="">
      </div>
    </div>
    <div class="skillsIntro">
      <p class="skillsText">
        Mein Schwerpunkt liegt auf der Entwicklung strukturierter, wartbarer und effizienzorientierter Frontend‑Lösungen.
        Dabei lege ich besonderen Wert auf klare Architekturprinzipien, sauberen Code und einen kontinuierlichen
        Weiterentwicklungsprozess, um neue Technologien und Methoden fundiert in bestehende Workflows zu integrieren.
      </p>
    </div>
    <div class="placeholder"></div>
  </section>
  <section class="contentInner skillsDetails">
    <div class="placeholder"></div>
    <div class="skillsIcons">
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/1-html.png" alt="">
        <p class="skillsIconDesc">HTML</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/2-css.png" alt="">
        <p class="skillsIconDesc">CSS</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/3-js.png" alt="">
        <p class="skillsIconDesc">JavaScript</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/4-ts.png" alt="">
        <p class="skillsIconDesc">TypeScript</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/5-angular.png" alt="">
        <p class="skillsIconDesc">Angular</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/6-firebase.png" alt="">
        <p class="skillsIconDesc">Firebase</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/7-git.png" alt="">
        <p class="skillsIconDesc">Git</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/8-rest-api.png" alt="">
        <p class="skillsIconDesc">REST-API</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/9-scrum.png" alt="">
        <p class="skillsIconDesc">Scrum</p>
      </div>
      <div class="iconContainer">
        <img class="icon" src="./assets/icons/10-material-design.png" alt="">
        <p class="skillsIconDesc">Material Design</p>
      </div>
    </div>
    <app-peel-off></app-peel-off>
  </section>

</section>
