.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  background-image: url('/../../../../../assets/imgs/bg/03-skills-2300px.jpg');
  background-position: bottom;
  background-size: cover;
  max-width: var(--max-side-width);
  margin: 0 auto;
}

.skillsContent,
.skillsDetails {
  width: 100%;
  padding: 80px 64px;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.skillsContent {
  align-items: center;
}

.skillsDetails {
  flex-direction: row;
  padding-bottom: 160px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;

  h2 {
    z-index: 1;
  }

  .headlineCircle {
    position: absolute;
    width: 120%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

.skillsIntro {
  background-size: 100% 100%;
  padding: 32px;
  width: 70%;

  .skillsText {
    color: var(--color-secondary);
    text-align: center;
  }
}

.placeholder {
  width: 10%;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
  width: 55%;

  .icon {
    width: 64px;
    filter: grayscale(100);
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: none;
      transform: scale(0.8);
    }
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96px;
    gap: 8px;

    .skillsIconDesc {
      text-align: center;
    }
  }
}

app-peel-off {
  width: 20%;
}

.animationContainerHeight {
  position: absolute;
  left: -15%;
  top: -5%;
  width: 130%;
  transition: opacity .2s ease;
  overflow: hidden;
  align-self: flex-start;
  animation: showHideFromTop 6s ease infinite;
}

.animatedImageHeight {
  width: 100%;
  object-fit: cover;
}

@keyframes showHideFromTop {
  0% {
    height: 0
  }

  10% {
    height: 120%
  }

  70% {
    height: 120%
  }

  80% {
    height: 0
  }

  100% {
    height: 0
  }
}

@media (min-width: 2100px) {
  .content {

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1%;
    }

    &::after {
      right: 0;
      background: linear-gradient(90deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }

    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    }
  }
}

@media (max-width: 1100px) {
  .skillsDetails {
    flex-direction: column;
    gap: 32px;
    padding: 0 32px 220px;
    align-items: center;
  }

  .skillsIcons {
    width: 75%;
    justify-content: center;
  }

  .headline {
    width: 50%;
  }

  .placeholder {
    display: none;
  }
}

@media (max-width: 768px) {
  .skillsContent {
    flex-direction: column;
    gap: 48px;
    padding: 64px 32px;
  }

  .headline {
    width: 100%;
    gap: 16px;
  }

  .skillsIntro {
    width: 100%;
    padding: 48px 16px;
  }

  .placeholder {
    display: none;
  }

  .skillsIcons {
    width: 100%;
    padding: 48px 0;

    .iconContainer {
      width: 80px;
    }
  }

  app-peel-off {
    width: 50%;
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .skillsContent {
    padding: 60px 16px;
  }

  .skillsIntro {
    width: 100%;
    padding: 60px 16px 40px 16px;
  }

  app-peel-off {
    width: 70%;
    align-self: center;
  }
}
