<section class="content" id="skills">
  <section class="contentInner skillsContent">

    <div class="headline">
      <p class="f-size-20">{{ 'SKILLS.SECTION_LABEL' | translate }}</p>

      <div>
        <h2>{{ 'SKILLS.HEADLINE' | translate }}</h2>
        <img class="headlineCircle" src="./assets/imgs/decorations/circle-orange.png" alt="">
      </div>
    </div>

    <div class="skillsIntro">
      <p class="skillsText">
        {{ 'SKILLS.INTRO' | translate }}
      </p>
    </div>

    <div class="placeholder"></div>
  </section>

  <section class="contentInner skillsDetails">
    <div class="placeholder"></div>

    <div class="skillsIcons">

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/1-html.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.HTML' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/2-css.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.CSS' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/3-js.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.JS' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/4-ts.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.TS' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/5-angular.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.ANGULAR' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/6-firebase.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.FIREBASE' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/7-git.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.GIT' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/8-rest-api.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.REST_API' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/9-scrum.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.SCRUM' | translate }}</p>
      </div>

      <div class="iconContainer">
        <img class="icon" src="./assets/icons/10-material-design.png" alt="">
        <p class="skillsIconDesc">{{ 'SKILLS.ICONS.MATERIAL' | translate }}</p>
      </div>

    </div>

    <app-peel-off></app-peel-off>
  </section>
</section>
